<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<div th:text="${message}"></div>
<form th:action="@{/signup}" method="post" th:object="${client}">
    <div><label> Имя : <input type="text" name="firstName" th:field="${client.firstName}"/> </label></div>
    <div><label> Фамилия : <input type="text" name="lastName" th:field="${client.lastName}"/> </label></div>
    <div><label> Телефон : <input type="tel" name="tel" th:field="${client.tel}"/> </label></div>
    <div><label> Почта : <input type="email" name="email"/> </label></div>
    <div><label> Пароль: <input type="password" th:field="${client.password}"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<form th:action="@{/login}" method="get">
    <input type="submit" value="Войти от имени другого пользователя"/>
</form>
<form th:action="@{/index}" method="post">
    <input type="submit" value="На главную"/>
</form>
</body>
</html>